flex/Makefile
flex/config.log
flex/config.status
flex/doc/Makefile
flex/examples/Makefile
flex/examples/fastwc/Makefile
flex/examples/manual/Makefile
*.Po
*.po
flex/libtool
flex/po/Makefile
flex/po/Makefile.in
flex/po/POTFILES
*.Plo
flex/src/.libs
flex/src/Makefile
flex/src/config.h
flex/src/flex
flex/src/stage1flex
*.o
*.la
*.lo
flex/src/stage1scan.c
flex/src/stamp-h1

flex/tests/.deps/
flex/tests/Makefile
flex/tools/Makefile
